*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo
*.mp4

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# SQLite databases
*.sqlite

venv

.ipynb_checkpoints
*/.ipynb_checkpoints
*.DS_Store
__pycache__/
drafted.ipynb

data/*.png
data/*.pdf
docs/data/*

*.csv

*.docx
docs/resources/*
docs/drafted/*
*.mp4
*.mp3
*.mov
*.npy
draft.ipynb

*.env
*.gif

instance/*

app/data/uploads/*
app/data/processed/*

app/static/dictionary/tricks/*
app/static/dictionary/positions/*

migrations