<hr class="mt-5" />

<footer class="py-5">
    <p class="muted"><small><i>

                <b>PoledanceXYZ</b>, crafted with a blend of data science and a love for pole dance, is presently in
                beta mode. As such, it's possible for the application to encounter errors or deliver unexpected
                outcomes. We welcome your feedback and encourage reporting any issues. For more information,
                feel free to contact <a href="https://github.com/kayesokua" class="text-primary">@kayesokua</a> and
                explore our documentation <a href="https://github.com/kayesokua/poledance.xyz/tree/main/docs"
                    class="text-primary">here</a>.
            </i>


    </p>

</footer>