
<header data-bs-theme="dark">
    <div class="collapse text-bg-dark bg-black" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4>About</h4>
                    <p class="text-body-secondary">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget cursus ex. In hac habitasse platea dictumst. Donec vel velit in eros feugiat rutrum vitae vel lorem. Praesent fermentum dapibus orci.
                    </p>
                    <p><a href="#" class="text-white">Download Pose Dataset</a> |
                        <a href="#" class="text-white">Read Documentation</a>
                    </p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4>Settings</h4>
                    <ul class="list-unstyled">
                        
                        <li><a href="#" class="text-white">Moderate Comments</a></li>
                        <li><a href="#" class="text-white">Change Password</a></li>
                        <li><a href="#" class="text-white">Change Email</a></li>
                        <li><a href="#" class="text-white">Log Out</a></li>
                        <li><a href="#" class="text-white">Log In</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-black shadow-sm">
        <div class="container">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <strong>poledance.xyz</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        
    </div>
</header>