{% extends '_base.html' %}
{% block content %}
<div class="row">
  <div class="col">
    <p class="lead mt-5 text-start">Hello, <b>{{ current_user.username }}</b>!</p>
  </div>
  <div class="col">
    <p class="lead mt-5 text-end">
      <a href="{{ url_for('diary.new_dance_entry') }}" class="btn btn-sm btn-info fw-bold text-white">
        {% include 'icons/upload.html' %} Upload New</a>
      {% if video_posts %}
      <a href="{{ url_for('diary.all_dance_summary') }}" class="btn btn-sm btn-primary fw-bold text-white">
        {% include 'icons/barchart.html' %} Dance Summary </a>
      {% endif %}
    </p>
  </div>

</div>

<hr />

<div class="row" style="min-height: 50vh;">
  {% if video_posts %}

  {% for post in video_posts %}

  <style>
    @media only screen and (min-width: 768px) {
      .card {
        width: 100%;

      }
    }

    video {
      opacity: 0.2;
    }
  </style>
  <div class="col-4" style="max-height: 200px;">
    <div class="card bg-dark">
      <video src="{{ url_for('api.serve_uploaded_video', id=post.id, author_id=post.author_id ) }}" autoplay loop muted
        class="img-fluid"></video>
      <div class="card-img-overlay">
        <h5 class="card-title lead text-start"><b><a href="{{ url_for('reports.overview', id=post.id) }}"
              class="text-white">{{ post.title }}</a></b></h5>
        

        <p class="card-text text-white text-start"><small>{{ post.created_on.strftime('%B %d, %Y') }} | {{ post.duration
            | round(2) }}s</small></p>

        <p class="text-start">
          <a href="{{ url_for('diary.update_dance_entry', id=post.id) }}" class="btn btn-sm btn-light">
            Edit This Entry
          </a>
        </p>

      </div>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <p class="lead text-start">0 entries found.</p>
  {% endif %}
</div>


{% endblock %}